<ion-header>
  <ion-toolbar>
    <ion-title class="hdTitle">Art Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="question">{{currentQuestion.question}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let answer of currentQuestion.answers">
          <ion-label class="options">{{answer.text}}</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="answer.checked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button class="submit" expand="block" (click)="submitAnswer()">Submit Answer</ion-button>

  <ion-card *ngIf="showFeedback">
    <ion-card-header>
      <ion-card-title>{{feedbackMessage}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{feedbackDescription}}</p>
      <ion-button expand="block" (click)="nextQuestion()">Next Question</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showScore">
    <ion-card-header>
      <ion-card-title>Your Score</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You answered {{correctAnswers}} out of {{questions.length}} questions correctly.</p>
      <ion-button expand="block" (click)="restartQuiz()">Restart Quiz</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

